#mainAllDisplayer {
    color: rgb(var(--color-three));
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#projectsGrid {
    color: rgb(var(--color-three));
    display: grid;
    row-gap: 12px;
}

#titleRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: bold;
    padding: 3px;
}

@media (min-width: 1024px) {
    #projectsGrid {
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: rgb(var(--color-three));
    }
}