.card {
    border: 1px solid rgb(var(--color-two));
    color: rgb(var(--color-three));
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

.topContent {
    display: flex;
    justify-content: space-between;
}

.topContent img {
    width: 16px;
}

.midContent {
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.midContent img {
    width: 100%;
    height: 35%;
}

.cardDescription {
    color: rgb(var(--color-three));
    opacity: 0.8;
    font-size: 0.7em;
}

.techContent {
    display: flex;
    gap: 5px;
    font-size: 0.8em;
}

.tech {
    border: 1px solid rgb(var(--color-two));
    border-radius: 4px;
    padding: 2px;
}

@media (min-width: 1024px) {
    .card {
        width: 30vw;
        padding: 15px;
    }

    .card .topContent img {
        transform: translate(0, 0);
        transition: transform 0.5s;
    }

    .card:hover .topContent img {
        transform: translate(8px, -8px);
    }

    .topContent {
        font-size: 1.7em;
    }

    .topContent img {
        width: 32px;
    }

    .cardDescription {
        font-size: 1.3em;
    }

    .techContent {
        font-size: 1.4em;
    }
}

@keyframes glow {
    0% { box-shadow: 0 0 5px rgb(var(--color-two)); }
    50% { box-shadow: 0 0 15px rgb(var(--color-two)); }
    100% { box-shadow: 0 0 5px rgb(var(--color-two)); }
}