.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid rgb(var(--color-two));
    border-radius: 10px;
}

.main div {
    padding: 3px;
}

.techContent {
    display: flex;
}

.shortDescription {
    display: none;
}

@media (min-width: 1024px) {
    .main {
        grid-template-columns: repeat(5, 1fr);
    }

    .shortDescription {
        display: block;
    }
}