#mainSocial {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 5px;
    left: 5px;
    gap: 5px;
}

.img {
    width: 32px;
    height: 32px;
}

.img:hover {
    filter: hue-rotate(180deg) brightness(1.5);
}