<div id="home-content" style="display: flex; flex-direction: column; height: 100vh; width: 100vw;">
  <div id="top">
    <div id="top-left">
      <div>
        <h1>Ali YAGMUR</h1>
        <h3>Developer and AI engineer</h3>
        <div id="stats">
          <div class="stat">
              <div>Github contribution</div>
              <div>548545</div>
          </div>
          <div class="stat">
            <div>Github contribution</div>
            <div>548545</div>
          </div>
          <div class="stat">
            <div>Github contribution</div>
            <div>548545</div>
          </div>
          <div class="stat">
            <div>Github contribution</div>
            <div>548545</div>
          </div>
        </div>
      </div>
    </div>
    <div id="top-right">
      <p id="description">Lorem ipsum dolor sit amet. Eos dicta numquam non fugiat voluptatibus et quibusdam minus est explicabo assumenda. In
        animi quod ab mollitia corporis est officia quaerat ut pariatur
        <br/>
        <br/>
        explicabo vel itaque itaque aut sunt voluptatem non quae officia.
        Et provident pariatur At veniam nihil sed ullam quia ut galisum aperiam et possimus impedit ut iure inventore ad rerum
        <br/>
        <br/>
        laudantium. Est omnis quisquam sed accusamus galisum ex sapiente repellendus ut sint dolorum id similique dolores est impedit harum et tempora fuga.</p>
    </div>
  </div>
  <div id="bot">
fds
  </div>

</div>
