#top {
  height: 50%;
  display: flex;
  align-items: end;

}

#top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

h1, h3 {
  margin: 0 !important;
  line-height: 1;
}

#top-left {
  color: var(--color-two);
}


#stats {
  display: flex;
  gap: 1vw;
}

.stat {
  text-align: center;
  font-size: 0.9vw;
}

.stat-title {
  color: var(--color-three);
  opacity: 0.8;
}

#top-right {
  width: 25%;
}

#description {
  color: var(--color-three);
  font-size: 1.1vw;
  opacity: 0.8;
}


#bot {
  height: 50%;
  background-color: darkcyan;
}
