#top {
  display: flex;
  height: 50%;
  background-color: aqua;
  justify-content: center;
  align-items: end;
}

#top-left {
  background-color: darkslateblue;
}


#stats {
  display: flex;
}

#top-right {
  background-color: red;
  width: 25%;
}

#description {
  font-size: 2em;
}


#bot {
  height: 50%;
  background-color: darkcyan;
}
