.main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#top {
  display: flex;
}

@media (min-width: 1024px) {
  .main {
    height: 98%;
  }

  #top {
    height: 44%;
    display: flex;
    align-items: end;
  }

  #bot {
    height: 44%;
  }
}

/*------------------TOP STYLES----------------------*/

#topContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-two);
}

#topLeftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainTitle {
  font-size: 4em;
}

#subTitle {
  font-size: 1.5em;
}

#stats {
  display: flex;
  justify-content: center;
  gap: 3vw;
  padding-top: 25px;
  padding-bottom: 25px;

}

.stat {
  text-align: center;
  font-size: 0.9em;
}

.statValue {
  font-size: 2.9em;
}

.statTitle {
  color: var(--color-three);
  opacity: 0.8;
}

#topRightContent {
  width: 90%;
}

#topDescription {
  color: var(--color-three);
  font-size: 1.4em;
  opacity: 0.8;
}

@media (min-width: 1024px) {
  #topDescription {
    font-size: 1.1vw;
  }

  #topRightContent {
    width: 30%;
  }

  .stat {
    font-size: 0.9vw;
  }

  #stats {
    gap: 1vw;
  }

  #mainTitle {
    font-size: 4.9vw;
  }

  #subTitle {
    font-size: 1.4vw;
  }

  #topContent {
    justify-content: center;
    flex-direction: initial;
    gap: 100px;
  }
}

/*------------------BOT STYLES----------------------*/

#botButtons {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
}

.mainButtons {
  color: var(--color-three);
  padding: 5px;
  font-weight: bold;
  background-color: var(--color-two);
  font-size: 1.5em;
  border: none;
  width: 100px;
}

.mainButtons:enabled {

}

.mainButtons:disabled {
  opacity: 0.5;
}

.leftMainButton {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rightMainButton {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#cards {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  #cards {
    gap: 100px;
    margin-top: 50px;
  }
}