.main {
  display: flex;
  flex-direction: column;
}

#top {
  display: flex;
}

#bot {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px;
}

@media (min-width: 1024px) {
  .main {
    height: 98%;
  }

  #top {
    height: 44%;
    display: flex;
    align-items: end;
  }

  #bot {
    height: 44%;
  }
}

/*------------------TOP STYLES----------------------*/

#topContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(var(--color-two));
}

#topLeftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainTitle {
  font-size: 3.5em;
}

#subTitle {
  font-size: 1.5em;
}

#stats {
  display: flex;
  justify-content: center;
  gap: 3vw;
  padding-top: 25px;
  padding-bottom: 25px;

}

.stat {
  text-align: center;
  font-size: 0.9em;
}

.statValue {
  font-size: 2.9em;
}

.statTitle {
  color: rgb(var(--color-three));
}

#topRightContent {
  width: 90%;
}

#topDescription {
  color: rgb(var(--color-three));
  font-size: 1.4em;
}

@media (min-width: 1024px) {
  #topDescription {
    font-size: 1.1vw;
  }

  #topRightContent {
    width: 30%;
  }

  .stat {
    font-size: 0.9vw;
  }

  #stats {
    gap: 1vw;
  }

  #mainTitle {
    font-size: 4.9vw;
  }

  #subTitle {
    font-size: 1.4vw;
  }

  #topContent {
    justify-content: center;
    flex-direction: initial;
    gap: 100px;
  }
}

/*------------------BOT STYLES----------------------*/

#botButtons {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
}

.mainButtons {
  color: rgb(var(--color-three));
  padding: 5px;
  font-weight: bold;
  background-color: rgb(var(--color-two));
  font-size: 1.5em;
  border: none;
  width: 100px;
}

.mainButtons:disabled {
  background-color: rgba(var(--color-two), 0.5);
  color: rgba(var(--color-three), 0.5);
}

.leftMainButton {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rightMainButton {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

#seeAllButton {
  color: rgb(var(--color-three));
  text-align: center;
}

@media (min-width: 768px) {
  #cards {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  #cards {
    gap: 100px;
    margin-top: 50px;
  }

  #seeAllButton {
    align-self: center; /* Shrinks to content size */
    width: auto;
    font-size: 1.8em;
  }

  #seeAllButton:hover {
    color: rgb(var(--color-two));
  }

  .mainButtons:disabled:hover {
    color: rgb(var(--color-three));
  }
}